@media ( min-width : 768px) { 

	/**** Header ****/
	header {
		padding: 15px 20px;
	}
	/**** Fim Header ****/

	/**** Inicio ****/
	.div-inicio {
		padding: 90px 15px 40px;

		.qse {
			.foto {
			display: inline-block;
			}

			h2 {
				margin-top: 40px;
			}

			p {
			}
		}

		.links {
			padding-bottom: 20px;
		}
		
	}	
	/**** Fim Inicio ****/
	/**** Like Buttons ****/
	.like_bottuns {
		left: -142px;

		.share {
			
		}
	}
	/**** Fim Like Buttons ****/

	/**** Projetos ****/
	#div-projetos {
		padding-top: 30px;
		padding-bottom: 60px;
		>div {
			width: 80%;
		}

		h2 {
			margin-bottom: 30px;
		}
		.dt_carousel {
			
			.dt_carousel_inner {
				
			}

		}

	}
	/**** Fim Projetos ****/

	/**** Curriculo ****/
	#div-curriculo {
		padding-bottom: 40px;

	}
	/**** Fim Curriculo ****/

	/**** Contato ****/
	#div-contato {
		>div {
			
		}

		.inputs {
			padding-top: 40px;
		}
	}
	/**** Fim Contato ****/
}	

@media ( max-width : 767px) { 

}